:root {
  --container-width: 1304px;
  --main-orange: #FF7A30;
  --main-green: #07635D;
  --bg-gray: #F8F7F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: var(--main-green) !important;
  font-size: 30px;
  line-height: 1.1;
  font-family: "BPG Nino Mtavruli Bold" !important;

}

.container {
  padding: 0;
  max-width: var(--container-width);

}


.bg-gray {
  background-color: var(--bg-gray);
}

.siteHeader {
  height: 171px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-block: 42px;
  font-size: 24px;
  margin-bottom: 40px;
}

.logo--text {
  font-family: "Franklin Gothic Demi Cond";
  color: var(--main-orange) !important;
  font-size: 60px;
}

.header--outlined {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.btn--green {
  font-size: 18px;
  padding: 15px 20px 12px 20px;
  width: 233px;
  display: grid;
  place-items: center;
  color: var(--main-green);
  transition: 0.3s;
  border: 2px solid var(--main-green);
  border-radius: 10px;
}

.btn--green:hover {
  color: white !important;
  background-color: var(--main-green);
}

.btn--orange {
  font-size: 18px;
  padding: 15px 20px 12px 20px;
  width: 233px;
  display: grid;
  place-items: center;

  color: white !important;
  background-color: var(--main-orange);
  transition: 0.3s;
  border: 2px solid var(--main-orange);
  border-radius: 10px;
}

.btn--orange:hover {
  color: var(--main-orange) !important;
  background-color: white;
}

.header--inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 136px;

}

#whatIsAccounter {
  margin-bottom: 120px;
}

#whatIsAccounter h2 {
  color: var(--main-orange);
  margin-bottom: 30px;
}

#whatIsAccounter .btn--green,
#choosePackage .btn--green {
  margin-top: 40px;
  background-color: var(--main-green);
  color: white !important;
}

#whatIsAccounter .btn--green:hover,
#choosePackage .btn--green:hover {
  background-color: white;
  color: var(--main-green) !important;

}

#howItWorks {
  padding-block: 62px;
}

#howItWorksTabs {
  margin-top: 40px;
  margin-bottom: 60px;
  border: none;
  gap: 24px;
  justify-content: center;
}

#howItWorksTabs .nav-link.active {
  background-color: transparent;
  color: var(--main-orange) !important;
  border: none;
}

#howItWorksTabs .nav-link {
  color: #9C9C9C !important;
  padding: 0;
  border: none !important;

}

#howItWorksTabs .nav-item {
  flex: 0 0 auto;


}

#howItWorks .tab-pane>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#howItWorks .tab-pane:nth-child(1)>div {
  gap: 86px;
}

#howItWorks .tab-pane:nth-child(3)>div {
  gap: 136px;
}

#choosePackage {
  padding-block: 81px;
}

.choosePackage--cards {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 270px;
}

.choosePackage--card {
  width: 370px;
  max-width: 100%;
  border: 5px solid rgba(7, 99, 93, 0.60);
  border-radius: 20px;
  font-size: 16px;
  padding: 54px 32px 36px 32px;
}

.choosePackage--card h2 {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.choosePackage--card h2 span {
  color: var(--main-orange);
}

.choosePackage--card li {
  display: flex;
  align-items: center;
  gap: 24px;

}

.choosePackage--card li:not(:last-child) {
  margin-bottom: 30px;
}

.choosePackage--card .btn--green {
  font-size: 16px;
}

.choosePackage--card .btn--disabled {
  margin-top: 40px;
}

.btn--disabled {
  font-size: 16px;
  padding: 15px 20px 12px 20px;
  width: 233px;
  display: grid;
  place-items: center;
  color: white !important;
  transition: 0.3s;
  border: 2px solid #B8B7B7;
  border-radius: 10px;
  background-color: #B8B7B7;
}


footer {
  margin-top: 100px;
  background-color: var(--main-green);
  padding-top: 40px;
  padding-bottom: 53px;
  color: white;
  font-size: 18px;

}

footer .logo--text {
  color: white !important;
}

footer nav {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

footer ul {
  margin-top: 20px;
  width: 441px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;

  row-gap: 22px;

}

footer ul li {
  flex-basis: 50%;
  text-align: left;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  color: var(--main-orange) !important;
}

.footer--contact {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer--contact h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.page--title {
  color: var(--main-orange);
  text-align: center;
  margin-bottom: 53px;
}

.content {
  font-size: 20px;
}

.content p,
.content h1 {
  margin-bottom: 1.1rem;
}

main.terms .container {
  max-width: 1058px;
}

main.about .container {
  max-width: 1145px;
}

main.about .content {
  font-size: 30px;
}

.about--right {
  float: right;
  margin-left: 98px;
}


/* authentication  start */
section.auth {
  min-height: 650px;
  height: 100vh;
  position: relative;
  /* padding-top: 191px;
  padding-bottom: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.auth--top {
  position: absolute;
  left: 0;
  top: 0;

  font-family: "Franklin Gothic Demi Cond";
  background-color: var(--main-orange);
  font-size: 60px;
  color: white !important;
  width: 517px;
  height: 462px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transform: translate(-143px, -206px);
}

.auth--top span {
  position: absolute;
  bottom: 168px;
  right: 100px;
}

.auth--bottom {
  position: absolute;
  width: 297px;
  height: 308px;
  border-radius: 50%;
}

.auth--bottom__orange {
  background-color: var(--main-orange);
  bottom: 0;
  right: 0;
  transform: translate(80px, 150px);
}

.auth--bottom__green {
  background-color: var(--main-green);
  bottom: 20px;
  right: 0;
  transform: translateX(170px);
}

.auth--form {
  margin-inline: auto;
  border: 3px solid rgba(7, 99, 93, 0.25);
  border-radius: 20px;
  padding: 80px 60px 45px 60px;
  width: 584px;

  min-height: 600px;
}

.auth--form__header {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.error-password {
  color: #E18B83;
  font-size: 20px;
  position: absolute;
  width: 100%;
  bottom: -9px;
  left: 50%;
  transform: translate(-50%, 20px);
}

.form-control {
  border: 3px solid rgba(7, 99, 93, 0.25);
  border-radius: 20px;
  font-size: 25px;
  color: var(--main-green);
  margin-bottom: 35px;
  padding-top: 10px;

}

.form-control:focus {
  color: var(--main-green);
}

.form-control::placeholder {
  color: #D9D9D9;
}

.toReset--link {
  margin-bottom: 17px;
  color: #8A8888 !important;
  font-size: 20px;
}

.auth--submit__btn {
  width: 100%;
  background-color: var(--main-orange);
  color: white !important;
  padding-block: 15px 12px;
  border-radius: 15px;
  transition: 0.3s;
  border: 3px solid var(--main-orange);
}

.auth--submit__btn:hover {
  background-color: white;
  color: var(--main-orange) !important;

}

.authForm--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.authForm--bottom img {
  cursor: pointer;
}

.auth--form__messageSend .auth--form__header {
  font-size: 30px;
}

.auth--form__registration {
  padding-block: 27px 40px;
  min-height: unset;
}

/* authentication  end */



/* user fill info start*/
section.user {
  padding-left: 385px;
}

.userSidebar {
  width: 385px;
  height: 100vh;
  min-height: 600px;
  background-color: var(--main-green);
  padding-block: 26px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
}

.userSidebar .logo--text {
  color: white !important;
  padding-left: 41px;
}

.userSidebar ul {

  color: #B0D6D3;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  /* gap: 35px; */
  margin-block: auto;
}

.userSidebar ul li a {
  padding-inline: 41px;
  padding-block: 24px;
  display: block;
  transition: 0.3s;
}


.userSidebar ul li a.active,
.userSidebar ul li a:hover {

  background-color: rgba(255, 255, 255, 0.20);

}

.userHeader {
  height: 107px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-block: 20px;
  padding-left: 35px;
  padding-right: 150px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.lh-0 {
  line-height: 0;
}

.userHeader--name {
  display: flex;
  gap: 20px;
  align-items: center;
}

.userHeader--logout {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--main-green) !important;
  transition: 0.5s;
}

.userHeader--logout:hover {
  gap: 10px;
}

.userHeader--logout span,
.userHeader--name span {
  margin-top: 3px;
}

.userCard--wrapper {
  margin: 40px 35px 40px 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #F6F6F6;
  border-radius: 45px;
  padding: 24px 0 24px 0;
}

.userCard {

  height: calc(100vh - 107px - 40px - 40px - 48px);
  min-height: 460px;
  overflow-y: auto;


}

.userCard--header {
  margin-bottom: 30px;
  text-align: center;
}

.userCard .form-control {
  width: 559px;
  max-width: 90%;
  margin-bottom: 0;
}

.userCard .form-control::placeholder {
  color: var(--main-green);
  opacity: 0.70;
}

.userCard .input--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}

.usercard--submitBtn {
  width: 354px;
  max-width: 100%;
  background-color: var(--main-orange);
  color: white !important;
  padding-block: 15px 12px;
  border-radius: 15px;
  transition: 0.3s;
  border: 3px solid var(--main-orange);
  font-size: 18px;
}

.usercard--submitBtn:hover {
  color: var(--main-orange) !important;
  background-color: white;
}

.userCard--searchinput {
  margin-top: 10px;
  margin-bottom: 42px;
  position: relative;
}

.userCard--searchinput .form-control {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 60px;
  border: 1px solid var(--main-green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.userCard--searchinput .form-control::placeholder {
  color: #9C9C9C;
}

.userCard--searchinput img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.messages .userCard {
  display: flex;
  flex-direction: column;
}

.message--container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.message--item {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(7, 99, 93, 0.30);
  padding: 18px 17px 18px 13px;
  border-radius: 11px;
  cursor: pointer;
  font-size: 20px;
}

.message--from {
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 18px;
  color: #E18B83;

}

.message--date {
  color: black;
  font-size: 18px;
}

.message--from span,
.message--item h4,
.message--date {
  margin-top: 2px;
}

.message--modal .modal-dialog {
  width: 723px;
  max-width: 100%;


}

.message--modal .modal-content {
  border-radius: 46px;
  padding: 38px 50px;
  position: relative;
}

.message--modal .modal-header {
  font-size: 22px;
  text-align: center;
  color: var(--main-orange);
  padding: 0;
  margin-bottom: 50px;

  border: none;
}

.message--modal .modal-body {
  padding: 0;
  font-size: 22px;
  text-align: center;
}

.message--modal .modal-title {
  width: 100%;
}

.message--closeBtn {
  cursor: pointer;
  position: absolute;
  top: 54px;
  right: 54px;
}

.message--modal .modal-body p {
  margin-bottom: 1rem;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}


.profile--header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 28px;
  margin-bottom: 20px;
  color: black;

}

.profile--header h2 {
  margin-top: 5px;
  font-size: 20px;
}

.profile--initals {
  width: 57px;
  height: 57px;
  display: grid;
  place-items: center;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.profile--initals span {
  margin-top: 8px;
}

.profile--inputs {
  padding-inline: 90px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 88px;
  row-gap: 46px;
  /* row-gap: 20px; */
}

.profile .form-control {
  font-size: 18px;
  border-radius: 12px;
  border: none;
  width: 100%;
  max-width: 100%;
  padding-left: 20px;
}

.profile .form-label {
  color: #B0D6D3;
  font-size: 14px;
  margin-bottom: 5px;
}

.profile .MuiFormControl-root {
  display: flex;
  background-color: transparent;
  border-bottom: none;
  border-radius: 12px;
  overflow: hidden;
}

.profile .MuiInputBase-root {
  background-color: white;
  border-bottom: none;
}

.profile .MuiInputBase-root::after,
.profile .MuiInputBase-root::before {
  display: none;
}

.profile .MuiFilledInput-input {
  display: block;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 18px;
  color: var(--main-green);
  border-radius: 12px;
  font-family: "BPG Nino Mtavruli Bold" !important;
}

#cardinput--wrapper {
  display: block;
  font-size: 18px;
  color: var(--main-green);
  border-radius: 12px;
  font-family: "BPG Nino Mtavruli Bold" !important;
}

#cardinput--wrapper div {
  border: none;
  box-shadow: none;
  height: 43px;
  border-radius: 12px;

}

.profile .MuiSvgIcon-root {
  fill: #9C9C9C;
}

.cardinput--delete {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: flex-end;
  font-size: 16px;
  margin-top: 24px;
  cursor: pointer;

}

.cardinput--delete span {
  margin-top: 5px;
}

.profile .userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile--submitWrapper {
  padding-inline: 90px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
}

/* user fill info end */



.checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.checkbox-wrapper input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-wrapper label {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.checkbox-wrapper label span {
  position: relative;
  top: 3px;
  user-select: none;
}

.checkbox-wrapper label:before {
  content: "";
  -webkit-appearance: none;
  background-color: #D9D9D9;
  border: 3px solid var(--main-green);
  border-radius: 10px;
  width: 49px;
  height: 36px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-wrapper input:checked+label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 49px;
  height: 36px;
  background-image: url('/assets/images/check2.svg');
  background-repeat: no-repeat;
}

.steps--error {
  position: absolute;
  bottom: -35px;
  left: 0;
  color: #DA9A95;
  font-size: 18px;
}

.step1 .checkbox-wrapper,
.step2 .checkbox-wrapper,
.step3 .checkbox-wrapper {
  margin-top: 50px;
}

.step--success {
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
}

.resend--code {
  margin-top: 35px;
  color: #9C9C9C;
  font-size: 22px;
}

.input--container .form-control {
  max-width: 100%;
}

.code--error {
  top: 0;
  left: 50%;
  bottom: unset;
  transform: translate(-50%, -100%);
}

.userCard--customselect {
  width: 457px;
  height: 56px;
}
.userCard--customselect .MuiFormControl-root label{
  color: rgba(7, 99, 93, 0.70) !important;
  font-size: 22px !important;
  top: -2px;
  font-family: "BPG Nino Mtavruli Bold" !important;
}
.userCard--customselect .MuiInputBase-root{
  font-family: "BPG Nino Mtavruli Bold" !important;
  color: rgba(7, 99, 93, 0.70) !important;
}
.userCard--customselect .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border: 3px solid rgba(7, 99, 93, 0.25);
}

.userCard--customselect .MuiOutlinedInput-notchedOutline {
  border: 3px solid rgba(7, 99, 93, 0.25);
  border-radius: 20px;
  font-size: 25px;
  color: var(--main-green);
}
.userCard--customselect svg{
  margin-right: 30px;
}
.MuiInputBase-input[aria-expanded="false"] +  .custom-arrow-icon {
  transform: rotate(180deg);
}
.customSelects--container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 35px;
}


.checkboxes--container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 35px;
  column-gap: 100px;
  padding-inline:100px;
  margin-bottom: 80px;
}

.checkboxes--container .checkbox-wrapper{
  justify-content: flex-start;

}

.checkboxes--container .checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  color: var(--main-green);
  max-height: 40px;
}



.checkboxes--container .checkbox-wrapper label::before{
  flex-shrink: 0;
}

.declarations{
  /* padding-inline: 55px; */
  width: 100%;
}

.declarations thead{
  font-size: 18px;

}
.declarations th{
  padding-block: 15px;
}
.declarations tbody{
  font-size: 15px;
}

.table > :not(caption) > * > *{
  background-color: transparent;
}
.declarations table tr:first-child td{
  background-color: white;
}
.declarations table img{
  cursor: pointer;
}
.declarations table th, .declarations table td{
  text-align: center;
}




.loader--container {
  margin-top: 120px;
}

.loader--container svg rect {
  animation: colorChange 1.5s linear infinite;
}

.loader--container svg rect:nth-child(1) {
  animation-delay: 0s;
}

.loader--container svg rect:nth-child(2) {
  animation-delay: 0.1875s;
}

.loader--container svg rect:nth-child(3) {
  animation-delay: 0.375s;
}

.loader--container svg rect:nth-child(4) {
  animation-delay: 0.5625s;
}

.loader--container svg rect:nth-child(5) {
  animation-delay: 0.75s;
}

.loader--container svg rect:nth-child(6) {
  animation-delay: 0.9375s;
}

.loader--container svg rect:nth-child(7) {
  animation-delay: 1.125s;
}

.loader--container svg rect:nth-child(8) {
  animation-delay: 1.3125s;
}

@keyframes colorChange {

  0%,
  100% {
    fill: #FF6D1B;
  }

  12.5% {
    fill: #FF9052;
  }

  25% {
    fill: #FD7224;
  }

  37.5% {
    fill: #FF833D;
  }

  50% {
    fill: #FF7F37;
  }

  62.5% {
    fill: #FDB58D;
  }

  75% {
    fill: #FC9D68;
  }

  87.5% {
    fill: #FFCDB0;
  }
}