@media screen and (max-width: 992px) {
    body{
        font-size: 20px;
    }
    .container{
        padding-inline: 20px;
        max-width: 100%;
    }
    .page--title{
        margin-bottom: 30px;
    }

    
    #howItWorks,#choosePackage{
        padding-block: 30px;
    }
    #howItWorksTabs{
        gap: 15px;
    }
    #howItWorks .tab-pane > div{
        flex-direction: column;
        gap: 20px !important;
    }
    .choosePackage--cards{
        margin-top: 20px;
        gap: 30px;
        flex-direction: column;
    }
    .choosePackage--card{
        padding: 25px 20px;
    }



    .about--right{
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    main.about .content{
        font-size: 20px;
    }


    footer nav *:not(.logo--text){
        display: none;
    }
    .header--inner{
        display: none;
    }
}


@media screen and (max-height: 800px){
    /* .profile .form-control,
    .profile .MuiFilledInput-input
   {
        padding-top: 5px;
        padding-bottom: 3px;
        font-size: 15px;
    }
    #cardinput--wrapper div{
        font-size: 15px;
        height: 30px;
    }
    .profile--inputs,
    .profile .form-label{
        font-size: 12px;
    }
    .profile--initals{
        width: 40px;
        height: 40px;
        font-size: 20px;
    } */
    .profile .userCard,
    .messages .userCard{
       
        justify-content: start;
      }

}



